.supplierview{
    font-size:1em;
}
.col0{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.col1{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

