.productview{
    max-width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2em 4em;
}
.info{
    flex:1;
}
.icon{
    width:6.5em;
    margin-left:2.5em;
}
.name{
    font-size:5em;
    font-weight:400;
    text-transform:capitalize;
}
.description{
    font-size:4em;
    color:var(--accentColor);
    margin-top:0.25em;
}
.description::first-letter{
    text-transform:uppercase;
}


@media(hover:none){
    .productview:active{
        background-color:rgba(0,0,0,0.05);
    }
}
