.bottomsheet{
    max-width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    overflow:hidden auto;
    --paddingHorizontal:6.333em;
}
.header{
    --paddingHorizontal:inherit !important;
}
.main{
    max-width:100%;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding-left:var(--paddingHorizontal);
    padding-right:var(--paddingHorizontal);
    padding-bottom:var(--paddingHorizontal);
}
.main>*:first-child{
    flex:1 1 0;
}
