.orderview{
    max-width:100%;
    padding:4em;
    border-radius:0.15em;
    background-color:var(--minorColor);
    box-shadow:0px 3px 7px rgba(0,0,0,0.1);
}
.title{
    font-family:var(--mainFont);
    font-weight:600;
    font-size:6em;
    letter-spacing:0.05em;
    text-transform:capitalize;
    color:var(--textColor);
    margin-bottom:0.3em;
}
.datetime{
    font-family:var(--mainFont);
    font-weight:500;
    font-size:4.5em;
    text-transform:capitalize;
    color:var(--accentColor);
}
.status{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-top:4em;
}
.status>span{
    font-family:var(--mainFont);
    font-weight:700;
    font-size:4.5em;
    text-transform:capitalize;
}
.status>img{
    width:5em;
    margin-left:1em;
}
