.itemview{
    max-width:100%;
    padding:2em 4em;
}
.name{
    font-size:5em;
    font-weight:400;
    text-transform:capitalize;
}
.description{
    font-size:4em;
    color:var(--accentColor);
    margin-top:0.25em;
}
.description::first-letter{
    text-transform:uppercase;
}


@media(hover:none){
    .itemview:active{
        background-color:rgba(0,0,0,0.05);
    }
}
