.cartscreen{
    max-width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    overflow:hidden;
    --paddingHorizontal:6.333em;
}
.header{
    --paddingHorizontal:inherit !important;
}
.cartview{
    max-width:100%;
    flex:1 1 0;
    padding:0 var(--paddingHorizontal);
    padding-bottom:5em;
}
