.homescreen{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    overflow:auto hidden;
}
.header{
    max-width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:var(--spacingHorizontal);
    background-color:var(--mainColor);
}
.searchfield{
    flex:1;
    margin-right:3em;
}
