.headerview{
    position:relative;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10em 0;
    padding-left:var(--paddingHorizontal);
    padding-right:var(--paddingHorizontal);
    --paddingHorizontal:5.333em;
}
.backbtn{
    position:absolute;
    width:6.333em;
    top:0;bottom:0;margin:auto 0;
    left:var(--paddingHorizontal);
    transform:rotateZ(90deg) translateY(1em);
}
.title{
    font-family:var(--mainFont);
    font-weight:700;
    font-size:4em;
    text-transform:uppercase;
    letter-spacing:0.2em;
}
